.cardStyle {
    min-width: 200px;
    max-width: 280px;
    margin: 5px 15px;
    background-color: rgb(223, 223, 223);
    
}

h5 {
    font-size: 1rem;
}

.cardStyle li {
    background-color: rgb(223, 223, 223);
    font-size: 0.8rem;
}

.list-group-item {
    height: 30px;
}

.list-group-item p {
    font-Size: 0.8rem
} 

.arteDeTapa {
    height: 220px;
    width: 220px;
    margin: auto;
    padding: 5px;
}